<div class="
    p-2 
    bg-grey-lightest 
    border-b 
    border-grey-light 
    border-solid
    fixed
    pin-t
    pin-r
    pin-l">
    <div class="flex">
        <div class="w-1/3">
            Customer Logo
        </div>
        <div class="w-1/3 flex justify-center">
            <input type="search" class="w-full p-2 bg-grey-light" placeholder="Search..." /> 
        </div>
    </div>
</div>