<h3>Primary Button</h3>
{{#ui/p-button click=(action 'primary')}}
  Primary
{{/ui/p-button}}
<h3>Secondary Button</h3>
{{#ui/s-button click=(action 'secondary')}}
  Secondary
{{/ui/s-button}}
<h3>Link Button</h3>
{{#ui/l-button click=(action 'link')}}
  Link
{{/ui/l-button}}